.img {
  border: 50px;
  position: absolute;
  height: 25%;
  right: 70%;
  bottom: 65%;
  border: 1px solid #a6b1e1;
  background-color: #ff0;
}

h1 {
  color: #4f3961;
}

h2 {
  color: #d45079;
}

body {
  font-family: "Roboto", sans-serif;
}

h3 {
  color: #4f3961;
}

table {
  padding: 2%;
  border: 1px solid #4f3961;
  border-collapse: separate;
}

a:hover {
  color: #d45079;
}
